<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <br>
    <blockquote>Добро пожаловать в систему ввода и отображения информации о студентах института!<br><br>
    В системе реализованы следующие функции:
        <ul>
            <li>Отображение списка групп;</li>
            <li>Добавление новой группы, редактирование и удаление существующей;</li>
            <li>Отображение списка студентов;</li>
            <li>Фильтрация списка студентов по фамилии и по номеру группы;</li>
            <li>Добавление нового студента, редактирование и удаление существующего.</li>
        </ul>
    </blockquote>
</body>
</html>
